* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

body {
    font-family: 'Work Sans',
        sans-serif;
}

/* Common css style */
.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 25px;
    border: none;
}

.btn-secondary {
    background: #FF900E;
    border-radius: 8px;
}

/* Header section style */
.header-section {
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}

.container {
    margin: 0 auto;
    padding: 0px 140px;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.text-logo h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
}

.nav-bar ul {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    display: flex;
}

.nav-bar ul li {
    list-style: none;
    margin-right: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #424242;
}

/* Banner section style */
.banner-section {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.banner-content h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
}

.banner-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 18px;
}

.banner-images {
    padding: 50px 0;
}

.banner-images img {
    width: 100%;
}

/* Main section start */
.main-photo-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 130px;
}

.main-photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-right: 62px;
}

.main-photo img {
    border-radius: 8px;
    width: 242px;
    height: 242px;
}

.main-content .quick {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.main-content .of {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.main-content .features {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}

.main-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

/* Features you will love & enjoy */
.features-content-photo {
    display: flex;
    justify-content: space-between;
}






























/* responsive degain    */

@media screen and (max-width: 576px) {
    .container {
        margin: 0 auto;
        padding: 0px 10px;
    }

    .logo-nav {
        flex-direction: column;
    }

    .banner-section {
        padding-top: 0px;
    }

    .banner-content h1 {
        font-weight: 400;
        font-size: 40px;
    }

    .main-photo-content {
        flex-direction: column;
    }

    .main-photo {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-photo {
        margin-right: 0;
    }

    .main-photo img {
        width: 340px;
        height: 300px;
    }

    .main-content {
        text-align: center;
    }
}




@media screen and (min-width: 577px) and (max-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0px 10px;
    }

    .text-logo h1 {
        font-size: 40px;
    }

    .banner-section {
        padding-top: 0px;
    }

    .banner-content h1 {
        font-size: 50px;
    }

    .main-photo-content {
        flex-direction: column;
        text-align: center;
    }

    .main-photo {
        margin-right: 0px;
    }

    .main-photo img {
        width: 280px;
        height: 280px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        padding: 0px 20px;
    }

    .banner-section {
        padding-top: 20px;
    }

    .main-photo {
        margin-right: 22px;
    }
}